<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TIM tela administrativa</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Deslogar</a></li>
    </ul>
  </div>
</nav>
<div class="container">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Tipo contato</th>
        <th>Telefone</th>
        <th>Ofertou</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas" >
        <td>{{ pessoa.nomeCompleto }}</td>
        <td>{{ pessoa.idade }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.tipoContato }}</td>
        <td>{{ pessoa.telefoneContato }}</td>
        <td>
            <button type="button" class="btn btn-success">Sim</button>
            <button type="button" class="btn btn-danger">Não</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>